body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('http://www.techagesite.com/music-wallpaper/music-neon-rainbow-desktop-background-1280x800.jpg');
}

a {
  color: #00B7FF;
}
